/* Edits for Header and Section 1 and 2 go here */

body{
    background-color: #F1FAEE;
    margin: 0px;
    font-family: 'DM Serif Display';
}

header{
    background-color: #E63946;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 25px;
    color: whitesmoke;

}

header h1{
    margin: 0px;
}

header span{
    display: flex;
    gap: 12px;
}

header button{
    background-color: #B82833;
    border-style: none;
    padding: 10px 24px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-weight: bold;
    font-size: x-large;
    border-radius: 14px;
}

/* Section 1 styles */

.sect1{
    display: flex;
    height: 400px;
    margin: auto;
}

.text.image{
    width: 700px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    left: 20px;
}

.text.image h2{
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #E63946;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    border-radius: 10px;
}

.sect1.image{
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 9px;
    border-color: #E63946;
    border-radius: 10px;
}

.sect1.paragraph{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    color: #E63946;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 23px;
}

/* sidebar styles */

.sidebar{
    width: 500px;
    background-color: #A8DADC;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    margin: 0px;
}

.charity.buttons{
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    margin: 0px;
}

.charity.button{
    background-color: #0393B2;
    border-style: none;
    padding: 10px 24px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.charity.button a{
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-weight: bold;
    font-size: x-large;
}

/* Section 2 styles */

.sect2{
    background-color: #E63946;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.sect2.text{
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    gap: 10px;
}

.sect2.text h2{
    margin: 0px;
}

.sect2.text ul{
    margin: 0px;
}

.sect2.text li{
    max-width: 450px;
    font-size: small;
}


.sect2.box{
    width: 300px;
    height: 300px;
    border: solid; 
    border-color: whitesmoke;
    border-width: 9px;
    position: relative;
    right: 70px;
}

/* Edits for Section 3 and 4 and footer go below this */

